In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
file_path = "/content/drive/MyDrive/CSV/FE.csv"  # Replace with the actual file path
df = pd.read_csv(file_path, encoding='cp1252')

print(df.head(10))

                        Name              Scientific Name Conservation Status  \
0          Red-vented Bulbul             Pycnonotus cafer       Least Concern
1      Blue-tailed Bee-eater         \tMerops philippinus     \tLeast Concern
2  White-throated Kingfisher           Halcyon smyrnensis       Least Concern
3       Gray-headed Swamphen      Porphyrio poliocephalus             Unknown
4    White-breasted Waterhen       Amaurornis phoenicurus       Least Concern
5        Red-wattled Lapwing             Vanellus indicus       Least Concern
6           Little Cormorant             Microcarbo niger       Least Concern
7          Black-headed Ibis  Threskiornis melanocephalus     Near Threatened
8          Indian Pond-Heron               Ardeola grayii       Least Concern
9               Little Egret             Egretta garzetta             Unknown

                                               Color  \
0      Dark, black crest, white rump, red under tail
1  Green, blue tail, black mask, rufous throat, r...
2  Brown, electric-blue back and wings, red bill,...
3  Bluish-purple, red bill, red legs, white “unde...
4  Dark slaty above, white below, rusty patch und...
5  Black breast and throat, red bill with black t...
6  All black, with white plumes on the sides of t...
7  White body, black head and neck, grayish tail ...
8  Dark reddish brown back (breeding), yellowish ...
9  Snow-white, dark bill, blackish legs, yellowis...

                                Distinctive Features  \
0       Black crest, white rump, red vent under tail
1  Thin black mask, rufous throat, elongated cent...
2  Large head, electric-blue back and wings, heav...
3  Red bill and forehead shield, red legs and fee...
4  Chickenlike appearance, rusty patch under the ...
5  Red wattles in front of the eyes, red bill wit...
6  Flat head, sharply hooked bill, small size com...
7   Bare black head and neck, down-curved black bill
8  Dark reddish brown back, yellowish head, neck,...
9  Wispy head plumes and white plumes on the lowe...

                                             Size  \
0                                  \tMedium-sized
1                                         Unknown
2                                         Unknown
3                                      Very large
4                                    Medium-sized
5                                         Unknown
6  Smallest of the cormorants found in the region
7                                           Large
8                                           Small
9                                           Small

                                             Habitat  \
0  Often seen high in trees or perched on wires i...
1                                       Open country
2  Near wetlands, lakes, agricultural fields, and...
3  Marshy, vegetated freshwater bodies such as sw...
4  Meadows, ditches, riversides, marshes, parks, ...
5  Found around water bodies, agricultural fields...
6                                Inland water bodies
7  Wetlands, agricultural fields, coastal areas, ...
8    Aquatic habitats across the Indian subcontinent
9        Wetlands, lakes, rivers, marshes, estuaries

                                            Behavior  \
0               Conspicuous and sometimes gregarious
1  Frequently seen in flight or perched on expose...
2  Frequently seen perched on fence posts and tel...
3  Often clumsy, feeds at muddy water edges, in r...
4  Often seen foraging in the open; often found i...
5  Usually found in small groups; runs a short di...
6  Frequently seen swimming with its body low in ...
7  Probes into mud and shallow water with its lon...
8  Solitary, but large numbers gather where food ...
9  Occurs as singles or in small loose groups; ne...

                                   Diet  \
0  Eats fruit, flower buds, and insects
1                               Unknown
2                               Unknown
3                               Unknown
4                               Unknown
5                     Primarily insects
6                                  Fish
7                               Unknown
8                               Unknown
9                            Small fish

                                               Calls  \
0     Calls include a variety of chirps and whistles
1  Voice a sweet, clipped “cheer-it,” sometimes g...
2  Jarring, raptor-like descending trills and cac...
3       Makes short nasal grunts and croaking sounds
4  Remarkably variable song, a series of hooting,...
5  Known for its characteristic loud alarm call, ...
6                           No information available
7                           No information available
8                           No information available
9                           No information available

                                               Range
0  Native to South and Southeast Asia. Introduced...
1                                            Unknown
2                                            Unknown
3                                            Unknown
4                                            Unknown
5                                            Unknown
6                                            Unknown
7                                            Unknown
8                                            Unknown
9                                            Unknown

In [ ]:
# Remove extra spaces, including tab spaces, from column names
df.columns = df.columns.str.strip()

# Display cleaned column names
print(df.columns)

Index(['Name', 'Scientific Name', 'Conservation Status', 'Color',
       'Distinctive Features', 'Size', 'Habitat', 'Behavior', 'Diet', 'Calls',
       'Range'],
      dtype='object')

In [ ]:
# Strip tab spaces or any leading/trailing spaces from all string values in the DataFrame
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

# Display the first 5 rows to confirm changes
print(df.head())

                        Name          Scientific Name Conservation Status  \
0          Red-vented Bulbul         Pycnonotus cafer       Least Concern
1      Blue-tailed Bee-eater       Merops philippinus       Least Concern
2  White-throated Kingfisher       Halcyon smyrnensis       Least Concern
3       Gray-headed Swamphen  Porphyrio poliocephalus             Unknown
4    White-breasted Waterhen   Amaurornis phoenicurus       Least Concern

                                               Color  \
0      Dark, black crest, white rump, red under tail
1  Green, blue tail, black mask, rufous throat, r...
2  Brown, electric-blue back and wings, red bill,...
3  Bluish-purple, red bill, red legs, white “unde...
4  Dark slaty above, white below, rusty patch und...

                                Distinctive Features          Size  \
0       Black crest, white rump, red vent under tail  Medium-sized
1  Thin black mask, rufous throat, elongated cent...       Unknown
2  Large head, electric-blue back and wings, heav...       Unknown
3  Red bill and forehead shield, red legs and fee...    Very large
4  Chickenlike appearance, rusty patch under the ...  Medium-sized

                                             Habitat  \
0  Often seen high in trees or perched on wires i...
1                                       Open country
2  Near wetlands, lakes, agricultural fields, and...
3  Marshy, vegetated freshwater bodies such as sw...
4  Meadows, ditches, riversides, marshes, parks, ...

                                            Behavior  \
0               Conspicuous and sometimes gregarious
1  Frequently seen in flight or perched on expose...
2  Frequently seen perched on fence posts and tel...
3  Often clumsy, feeds at muddy water edges, in r...
4  Often seen foraging in the open; often found i...

                                   Diet  \
0  Eats fruit, flower buds, and insects
1                               Unknown
2                               Unknown
3                               Unknown
4                               Unknown

                                               Calls  \
0     Calls include a variety of chirps and whistles
1  Voice a sweet, clipped “cheer-it,” sometimes g...
2  Jarring, raptor-like descending trills and cac...
3       Makes short nasal grunts and croaking sounds
4  Remarkably variable song, a series of hooting,...

                                               Range
0  Native to South and Southeast Asia. Introduced...
1                                            Unknown
2                                            Unknown
3                                            Unknown
4                                            Unknown

<ipython-input-7-9e980cc7277d>:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [ ]:
print(df.columns)

Index(['Name', 'Scientific Name', 'Conservation Status', 'Color',
       'Distinctive Features', 'Size', 'Habitat', 'Behavior', 'Diet', 'Calls',
       'Range'],
      dtype='object')

In [ ]:
# columns_to_drop = ["Name", "Distinctive Features", "Calls"]
# df = df.drop(columns=columns_to_drop)

In [ ]:
print(df.columns)

Index(['Name', 'Scientific Name', 'Conservation Status', 'Color',
       'Distinctive Features', 'Size', 'Habitat', 'Behavior', 'Diet', 'Calls',
       'Range'],
      dtype='object')

In [ ]:

columns_to_drop = ["Scientific Name"]
df = df.drop(columns=columns_to_drop)

In [ ]:
print(df.columns)

Index(['Name', 'Conservation Status', 'Color', 'Distinctive Features', 'Size',
       'Habitat', 'Behavior', 'Diet', 'Calls', 'Range'],
      dtype='object')

In [ ]:
size_mapping = {"Small": 0, "Medium-sized": 1, "Large": 2, "Unknown": -1, "Very large":3 }
df["Size"] = df["Size"].map(size_mapping)

In [ ]:
print(df['Size'].head(25))

0     1.0
1    -1.0
2    -1.0
3     3.0
4     1.0
5    -1.0
6     NaN
7     2.0
8     0.0
9     0.0
10    2.0
11    1.0
12   -1.0
13   -1.0
14   -1.0
15    2.0
16   -1.0
17   -1.0
18    0.0
19    1.0
20   -1.0
21    2.0
22    NaN
23    0.0
24    0.0
Name: Size, dtype: float64

In [ ]:
df = pd.get_dummies(df, columns=["Conservation Status", "Habitat", "Behavior", "Diet", "Range"], prefix=["Status", "Habitat", "Behavior", "Diet", "Range"])

In [ ]:
print(df.head(10))

                        Name  \
0          Red-vented Bulbul
1      Blue-tailed Bee-eater
2  White-throated Kingfisher
3       Gray-headed Swamphen
4    White-breasted Waterhen
5        Red-wattled Lapwing
6           Little Cormorant
7          Black-headed Ibis
8          Indian Pond-Heron
9               Little Egret

                                               Color  \
0      Dark, black crest, white rump, red under tail
1  Green, blue tail, black mask, rufous throat, r...
2  Brown, electric-blue back and wings, red bill,...
3  Bluish-purple, red bill, red legs, white “unde...
4  Dark slaty above, white below, rusty patch und...
5  Black breast and throat, red bill with black t...
6  All black, with white plumes on the sides of t...
7  White body, black head and neck, grayish tail ...
8  Dark reddish brown back (breeding), yellowish ...
9  Snow-white, dark bill, blackish legs, yellowis...

                                Distinctive Features  Size  \
0       Black crest, white rump, red vent under tail   1.0
1  Thin black mask, rufous throat, elongated cent...  -1.0
2  Large head, electric-blue back and wings, heav...  -1.0
3  Red bill and forehead shield, red legs and fee...   3.0
4  Chickenlike appearance, rusty patch under the ...   1.0
5  Red wattles in front of the eyes, red bill wit...  -1.0
6  Flat head, sharply hooked bill, small size com...   NaN
7   Bare black head and neck, down-curved black bill   2.0
8  Dark reddish brown back, yellowish head, neck,...   0.0
9  Wispy head plumes and white plumes on the lowe...   0.0

                                               Calls  Status_Least Concern  \
0     Calls include a variety of chirps and whistles                  True
1  Voice a sweet, clipped “cheer-it,” sometimes g...                  True
2  Jarring, raptor-like descending trills and cac...                  True
3       Makes short nasal grunts and croaking sounds                 False
4  Remarkably variable song, a series of hooting,...                  True
5  Known for its characteristic loud alarm call, ...                  True
6                           No information available                  True
7                           No information available                 False
8                           No information available                  True
9                           No information available                 False

   Status_Near Threatened  Status_Unknown  \
0                   False           False
1                   False           False
2                   False           False
3                   False            True
4                   False           False
5                   False           False
6                   False           False
7                    True           False
8                   False           False
9                   False            True

   Habitat_Aquatic habitats across the Indian subcontinent  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False
5                                              False
6                                              False
7                                              False
8                                               True
9                                              False

   Habitat_Cliffs and caves from western Europe to central Asia; cities and farmland  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False
5                                              False
6                                              False
7                                              False
8                                              False
9                                              False

   ...  Diet_Unknown  Range_Indian subcontinent  \
0  ...         False                      False
1  ...          True                      False
2  ...          True                      False
3  ...          True                      False
4  ...          True                      False
5  ...         False                      False
6  ...         False                      False
7  ...          True                      False
8  ...          True                      False
9  ...         False                      False

   Range_Much of Asia; introduced to several regions around the world  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False
5                                              False
6                                              False
7                                              False
8                                              False
9                                              False

   Range_Native to Africa and South Asia, introduced worldwide, including Europe, the Caribbean, Japan, and Hawaii  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False
5                                              False
6                                              False
7                                              False
8                                              False
9                                              False

   Range_Native to South and Southeast Asia. Introduced to Kuwait, Qatar, UAE, Oman, and some Polynesian islands, including Hawaii  \
0                                               True
1                                              False
2                                              False
3                                              False
4                                              False
5                                              False
6                                              False
7                                              False
8                                              False
9                                              False

   Range_South and Southeast Asia  Range_Southern India and Sri Lanka  \
0                           False                               False
1                           False                               False
2                           False                               False
3                           False                               False
4                           False                               False
5                           False                               False
6                           False                               False
7                           False                               False
8                           False                               False
9                           False                               False

   Range_Tropical Asia and coastal wetlands in Australia  Range_Unknown  \
0                                              False              False
1                                              False               True
2                                              False               True
3                                              False               True
4                                              False               True
5                                              False               True
6                                              False               True
7                                              False               True
8                                              False               True
9                                              False               True

   Range_Worldwide (wild and feral populations)
0                                         False
1                                         False
2                                         False
3                                         False
4                                         False
5                                         False
6                                         False
7                                         False
8                                         False
9                                         False

[10 rows x 74 columns]

In [ ]:
print(df[["Status_Least Concern", "Status_Near Threatened", "Status_Unknown"]].head(25))

    Status_Least Concern  Status_Near Threatened  Status_Unknown
0                   True                   False           False
1                   True                   False           False
2                   True                   False           False
3                  False                   False            True
4                   True                   False           False
5                   True                   False           False
6                   True                   False           False
7                  False                    True           False
8                   True                   False           False
9                  False                   False            True
10                  True                   False           False
11                  True                   False           False
12                  True                   False           False
13                  True                   False           False
14                 False                   False            True
15                 False                   False            True
16                  True                   False           False
17                  True                   False           False
18                  True                   False           False
19                  True                   False           False
20                  True                   False           False
21                  True                   False           False
22                  True                   False           False
23                  True                   False           False
24                  True                   False           False

In [ ]:
column_count = len(df.columns)
print("Number of columns:", column_count)

Number of columns: 74

In [ ]:
# # Save the final processed dataset
# final_file_path = "processed_dataset.csv"
# df.to_csv(final_file_path, index=False)

# print(f"Final dataset saved to {final_file_path}")

In [ ]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Print the sizes
print(f"Training set size: {X_train.shape[0]} rows")
print(f"Testing set size: {X_test.shape[0]} rows")

NameError: name 'X' is not defined